/* Name of project */
/* --- General styles --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 17px;
  font-family: 'Playfair Display', serif;
/*font-family: Georgia, 'Times New Roman', Times, serif; */
}

body {
  background:rgba(52, 58, 64, .15);
}

nav {
  height: 50px;
  float: right;
}

nav ul {
  float: right;
}

nav li {
  float: left;
  list-style: none;
  margin-left: 30px;
  font-size: 16px;
}

.row {
  margin: 32px 0 32px 24px;
  /*Structure

    height
    width
    margins
    padding
    overflow

  Skin

    colors
    fonts
    shadows
    gradients */

}
#row_one {
  background-color: lightblue;


  /*Structure

    height
    width
    margins
    padding
    overflow

  Skin

    colors
    fonts
    shadows
    gradients */

}

#row_two {
  background-color: lightcoral;
}

#row_three {
  background-color: lightcyan;
}

#row_four {
  background-color: lightgrey;
}

footer {
  overflow: hidden;
  clear: both;
  border-top: 1px dotted #333;
  background:rgba(52, 58, 64, 1);
  font-size: .75em;
  
}

/* --- Footer --- */
.footer-inner {
  height: 50px;
  line-height: 50px;
  max-width: 1100px;
  margin: 20px auto;
  background-color: pink;
}

footer p {
  padding-left: 30px;
}


footer ul {
  text-align: center;
} 

footer li {
  margin-left: 20px;
  float: left;
  list-style-type: none;
}

/*In this section of the stylesheet we are providing default styling for the type on the site, setting up a default style for data tables and lists and so on. 
example
body {
  Structure

    height
    width
    margins
    padding
    overflow

  Skin

    colors
    fonts
    shadows
    gradients
}
, p, ul, links, lists....*/

 




/* --- Header and Main Nav --- */



 /* --- UTILITIES --- */
/*After this section, we could define a few utility classes, for example, a class that removes the default list style for lists we're going to display as flex items or in some other way. If you have a few styling choices you know you will want to apply to lots of different elements, they can be put in this section. */